.formFrame {
opacity: 65%;
position: relative;
border: solid 1px black;
border-radius: 8px;
width: 300px;
height: 465px;
margin-left: 25px;
margin-top: 25px;
}
.formHead{
background-color: #e9812d;
height: 45px;
position: absolute;
border-radius: 7px;
width: 298px;
text-align: center;
}
.headTitle{
position: absolute;
background-color: #2dcde9;
font-size: 28px;
text-align: center;
margin-top: 12px;
width: 300px;
height: 0px;
}
.form {
position: absolute;
width: 260px;
height: 450px;
margin-left: 20px;
margin-top: 70px;
}
.saveForm{
    position: absolute;
    margin-left: 150px;
    margin-top: 5px;
}
.clearForm{
    position: absolute;
    margin-left: 50px;
    margin-top: 5px;
}
.dataField{
    float: right;
}
