.thingsFrame {
    opacity: 65%;
    position: relative;
    border: solid 1px black;
    border-radius: 8px;
    width: 600px;
    height: 465px;
    margin-left: 346px;
    margin-top: -467px;
}
.thingsHead{
    background-color: #e9812d;
    height: 45px;
    position: absolute;
    border-radius: 7px;
    width: 600px;
    text-align: center;
    vertical-align: middle;
}
.headTitle{
    position: absolute;
    background-color: #2dcde9;
    font-size: 28px;
    text-align: center;
    margin-top: 12px;
    width: 600px;
    height: 0px;
}
.things {
    position: absolute;
    width: 260px;
    height: 450px;
    margin-left: 25px;
    margin-top: 55px;
}